._my-accordion {
	overflow: hidden;
	transition: 0.2s;
	&._open {
		._my-accordion-content {
			opacity: 1;
		}
	}
}

._my-accordion-control {
	cursor: pointer;
}

._my-accordion-content {
	box-sizing: content-box;
	max-height: 0;
	opacity: 0;
	will-change: max-height;
	transition: 0.2s;
}
