$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: ($maxWidthContainer + 15) + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$color_main: #414141;
$background_color: #ffffff;
$font-size: 16px;
$fontFamily: 'Rubik';
