<div class="pagging">
	<a href="" class="pagging__arrow"></a>
	<ul class="pagging__list">
		<li class="pagging__li">
			<a href="" class="pagging__item _active">1</a>
		</li>
		<li class="pagging__li">
			<a href="" class="pagging__item">2</a>
		</li>
		<li class="pagging__li">
			<a href="" class="pagging__item">3</a>
		</li>
		<li class="pagging__li">
			<a href="" class="pagging__item">4</a>
		</li>
		<li class="pagging__li">
			<a href="" class="pagging__item">5</a>
		</li>
	</ul>
	<a href="" class="pagging__arrow"></a>
</div>