// Шрифты
@import 'settings/fonts';
// переменные
@import 'settings/variables';
// Обнуление стилей
@import 'settings/null';
// Миксины
@import 'settings/mixins';

* {
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	width: 8px;
}
*::-webkit-scrollbar-track {
	background-color: #fbf8ec;
}
*::-webkit-scrollbar-thumb {
	background-color: #000;
}

html {
	scrollbar-gutter: stable;
	// scroll-behavior: smooth;
	&._lock {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
}

body {
	color: $color_main;
	font-size: $font-size;
	// touch-action: none;
	// -ms-touch-action: none;
	&._lock {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1) {
		max-width: none;
		padding: 0 10px;
	}
	// $md2: 992.98px;
	@media (max-width: $md2) {
	}
	//$md3: 768.98px;
	@media (max-width: $md3) {
	}
	// $md4: 576.98px;
	@media (max-width: $md4) {
	}
	// $md5: 479.98px;
	@media (max-width: $md5) {
	}
	// $md6: 379.98px;
	@media (max-width: $md6) {
	}
}

@import 'components/header';
@import 'components/footer';
@import 'components/modal';

// @import 'modules/accordion';
// @import 'modules/buffer_copy';
// @import 'modules/tabs';
// @import 'modules/select';
// @import 'modules/output_info';
// @import 'modules/loader';

//<ОСНОВНОЙ БЛОК>
.main {
	flex: 1 1 auto;
}
