$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$color: #000;
$font-size: 14px;
$fontFamily: 'Roboto';
